//.header_custom > table > thead > tr > th
.header_custom {
    table {
        border-radius: 0.625rem !important;
        color: black;
        text-align: center;
        border-collapse: collapse;
//         border-collapse: separate;
        > thead {
            > tr {
                th {
                    background-color: #3fada8 !important;
                    border: 0.063rem solid #FFD194;
                    padding: 0.94rem;
                    text-align: center;
                    &:nth-child(3) {
                        width: 15.625rem;
                        color: white;
                        &:hover {
                            background: linear-gradient(#696484, #8788ba);
                        }
                    }
               }
            }
        }
        > tbody {
            > tr {
                td {
                    padding: 0.94rem;
                    border: 0.063rem solid #FFD194;
                    &:hover {
                        background: linear-gradient(#696484, #8788ba);
                    }
                }
            }
        }
   }
}